.viewFlashCardContainer {
  padding: 10px 10px 10px 50px;
  height: 100%;
  width: 100%;
  overflow: hidden;

}
.viewFlashCardContainer h2 {
  color: #5D7285;
  font-size: 2rem;
}
.flashcardsContainer {
  overflow-y: auto;
  height: 100%;
}
.flashcardRowContainer {
  padding: 10px;
  height: 40px;
  display: flex;
  border-bottom: 1px solid #828282;
}
.flashcardRowContainer div:nth-of-type(1) {
  flex: 1;
}
.flashcardRowContainer div:nth-of-type(2) {
  flex: 7;
}
.flashcardRowContainer div:nth-of-type(3) {
  flex: 2;
}
.flashcardRowContainer div:nth-of-type(4) {
  flex: 1;
}
.flashcardRowContainer div:nth-of-type(5) {
  flex: 1;
}
.flashcardRowContainer div:nth-of-type(6) {
  flex: 1;
}
.flashcardRowContainer * {
  display: flex;
  align-items: center;
}

.threeDot {
  display: flex;
  gap: 5px;
}

.threeDot span {
  height: 5px;
  width: 5px;
  background-image: linear-gradient(to right , #333 , #233,#222,#122,#112,#111,#011,#001,#000);
  border-radius: 50%;
}